{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_user.css' %}">

    <title>Add User</title>
</head>

<body>

    

    <div class="container py-5">
        <h1 class="text-center">Enter Case Details for {{ client.client_name }}</h1>

        <div class="row">
            <div class="col-12 add-user-col d-flex justify-content-center">
                <form class="add-user-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}  
                    <input type="hidden" name="client_id" value="{{ client.id }}">
                    <div class="input-group">
                        <label for="place">Incident Place</label>
                        <input type="text" name="incident_place" value="{{ incident_place }}" required />
                    </div>

                    <div class="input-group">
                        <label for="date">Incident Date</label>
                        <input type="date" name="incident_date" required />
                    </div>

                    <div class="input-group">
                        <label for="time">Incident Time</label>
                        <input type="time" name="incident_time" required />
                    </div>

                    <div class="input-group">
                        <label for="witness_name">Witness Name</label>
                        <input type="text" name="witness_name" required />
                    </div>

                    <div class="input-group">
                        <label for="witness_name">Witness Details</label>
                        <textarea name="witness_details" cols="30" rows="10"></textarea>
                    </div>

                    <div class="input-group">
                        <label for="incident_desc">Incident Desciption</label>
                        <textarea name="incident_description" cols="30" rows="10"></textarea>
                    </div>

                    <div class="input-group">
                        <label for="aadhar_no">Client AAdhar Number</label>
                        <input type="number" name="client_adhar" required />
                    </div>

                    <div class="input-group">
                        <label for="aadhar_img">Client Aadhar Photo</label>
                        <div class="profile-img-preview"></div>
                        <input type="file" name="client_adhar_photo" id="client_adhar_photo" accept=".jpg, .jpeg, .png" required />
                    </div>

                    <div class="input-group">
                        <button class="btn btn-warning" type="submit">Save Case</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        document.querySelector('#aadhar_img').addEventListener('change', handleImageChange);

        function handleImageChange(e) {
            const fileInput = e.target;
            const previewContainer = document.querySelector('.profile-img-preview');

            // Clear previous preview, if any
            while (previewContainer.firstChild) {
                previewContainer.removeChild(previewContainer.firstChild);
            }

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (event) {
                    const img = document.createElement('img');
                    img.setAttribute('src', event.target.result);
                    img.setAttribute('alt', 'Selected Profile Picture');

                    previewContainer.appendChild(img);
                    
                    let previewMsg = document.createElement('p');
                    previewMsg.innerText = "Profile picture preview";
                    previewMsg.setAttribute('class', 'preview-msg')

                    previewContainer.appendChild(previewMsg);
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>

</body>

</html>